/* @font-face {
    font-family: '源ノ角ゴシック JP';
    src: url('源ノ角ゴシック JP.eot');
    src: url('源ノ角ゴシック JPeot?iefix') format('eot'),
         url('源ノ角ゴシック JP.woff') format('woff'),
         url('源ノ角ゴシック JP.ttf') format('truetype'),
         url('源ノ角ゴシック JP.svg#webfontjSpbZQRv') format('svg');
} */

body {
    /* font-family:"源ノ角ゴシック JP"; */
    letter-spacing: 0.05em;
}

a { 
    text-decoration:none;
    color: white;
}

.title {
    font-size: 11pt;
    color: #F0F0F1;
    background-color: #5988C9;
    padding: 15px 30px;
    margin: 10px 0px 0px 10px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

.up {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 2;
    width: 60px;
    margin:10px;
}


.main {
    margin: 10% 10%;
    z-index: 1;
}

.icons {
    display: flex;
    max-width: 100%;
}

.icon {
    position: relative;
    width: 16.666%;
    background-color: #F0F0F1;
    padding: 10px 10px;
    margin: 3px;
    transition: background-color 300ms;
}
.icon:hover {
    background-color: #DEDEF0;
    transition: background-color 200ms;
}

.icon p {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    font-size: 11pt;
    line-height: 1.3em;
    /* padding: 30pt 0pt 0pt 20pt; */
}
.icon_image {
    width:100%;
    
}
.icon_inner {
    text-align: center;
    color: #2B2C34;
}