/* ローディング */
.loading {
	position: fixed;
    z-index: 200;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #717583;
}
.loading_img {
    display: block;
	position: absolute;
    text-align: center;
    max-width: 50%;
    top: 50%;
    left: 50%;
    margin: 0 auto;
    transform: translate(-50%,-50%);
}
.loading-svg {
	width: 38px;
	padding-left: 13px;
}
/* ローディング終了 */

body {
    color: #2B2C34;
    letter-spacing: 0.05em;
}

/* タイトルをホバーするとエフェクトが出る */
.title_text {
    font-size: 11pt;
    color: #F0F0F1;
    background-color: #5988C9;
    padding: 15px 30px;
    margin: 10px 0px 0px 10px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    border: 2px solid #5988C9;
    display: inline-block;
    text-decoration: none;
    outline: none;
}
.title_text:hover {
    background-color: #fff;
    border-color: #5988C9;
    color: #5988C9;
  }
.title_text::before,
.title_text::after {
position: absolute;
z-index: -1;
display: block;
content: '';
top: 0;
width: 50%;
height: 100%;
background-color: #5988C9;
}
.title_text::before {
right: 0;
}
.title_text::after {
left: 0;
}
.title_text:hover::before,
.title_text:hover::after {
width: 0;
background-color: #5988C9;
}
.title_text,
.title_text::before,
.title_text::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.main {
    margin: 13% 0% 0% 20%;
}

h1{
    margin-bottom: 20px;
    font-size: 20pt;
    color: #5988C9;
}

h2 {
    margin-bottom: 30px;
    font-size: 9pt;
    line-height: 20pt;
    /* font-weight: normal; */
}
p {
    font-size: 9pt;
}

.ex {
    line-height: 20pt;
    margin-bottom: 30px;
}

.main-info {
    display: flex;
    margin: 0.5em 0em;
}
.info-title {

}
.info-title-innner {
    margin: 4pt 0pt;
    padding: 2pt 4pt;
    background-color: #F0F0F1;
}
._blank {
    width: 10px;
    display: block;
    margin: auto;
    padding: 5px 0px 5px 0px;
}

.info-content {
    margin: 0em 0em 0.5em 1.5em;
}

.info-content-inner {
    line-height: 29px;
}

.links {
    display: flex;
}

.link-title {
    font-weight: bold;
    color: #8e8e8e;
    margin: 7px 7px 0px 0px;
}

.link-text {
    margin: 7px 7px 0px 15px;
}

/* リンクの色 */
a.link-inner {
    text-decoration: none;
    color: #5988C9;
}
/* ホバーするとリンクの色が変わる */
a.link-inner:hover {
    text-decoration: underline;
    color: #0064EF;
  }
/* リンクが存在しない */
.link-none {
    margin: 7px 7px 0px 15px;
    color: #8e8e8e;
}