/* ローディング */
.loading {
	position: fixed;
    z-index: 200;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #717583;
}
.loading_img {
    display: block;
	position: absolute;
    text-align: center;
    max-width: 50%;
    top: 50%;
    left: 50%;
    margin: 0 auto;
    transform: translate(-50%,-50%);
}
.loading-svg {
	width: 38px;
	padding-left: 13px;
}
/* ローディング終了 */

body {
    color: #2B2C34;
    letter-spacing: 0.05em;
    font-family: "Noto Sans JP";
}

/* タイトルをホバーするとエフェクトが出る */
.title_text {
    font-size: 11pt;
    color: #F0F0F1;
    background-color: #5988C9;
    padding: 15px 30px;
    margin: 10px 0px 0px 10px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    border: 2px solid #5988C9;
    display: inline-block;
    text-decoration: none;
    outline: none;
}
.title_text:hover {
    background-color: #fff;
    border-color: #5988C9;
    color: #5988C9;
}
.title_text::before,
.title_text::after {
    position: absolute;
    z-index: -1;
    display: block;
    content: '';
    top: 0;
    width: 50%;
    height: 100%;
    background-color: #5988C9;
}
.title_text::before {
    right: 0;
}
.title_text::after {
    left: 0;
}
.title_text:hover::before,
.title_text:hover::after {
    width: 0;
    background-color: #5988C9;
}
.title_text,
.title_text::before,
.title_text::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.main {
    margin: 13% 15% 0% 15%;
}

h1{
    margin-bottom: 20px;
    font-size: 20pt;
    color: #5988C9;
}

h2 {
    margin-bottom: 30px;
    font-size: 9pt;
    line-height: 20pt;
}
p {
    font-size: 9pt;
}

.ex {
    /* line-height: 1em; */
    margin-bottom: 30px;
}

/* 入力画面 */
.main-info {
    display: flex;
    margin: 0.5em 0em;
}

.info {
    display: flex;
}

.info-title-innner {
    margin: 4pt 0pt;
    padding: 2pt 4pt;
    background-color: #F0F0F1;
    width: 50px;
}
._blank {
    width: 10px;
    display: block;
    margin: auto;
    padding: 5px 0px 5px 0px;
}

.info-content {
    margin: 0em 0em 0.5em 1.5em;
}

.info-content-inner {
    line-height: 29px;
    margin-left: 10px;
    width: 90%;
}

/* リンク */
.links {
    /* display: flex; */
    width: 90%;
}

/* リンクのタイトル */
.link-title {
    font-weight: bold;
    color: #8e8e8e;
    margin: 7px 7px 0px 10px;
}

.link-text {
    margin: 7px 7px 0px 15px;
    word-break: break-all;
}


/* リンクの色 */
a.link-inner {
    text-decoration: none;
    color: #5988C9;
}
/* ホバーするとリンクの色が変わる */
a.link-inner:hover {
    text-decoration: underline;
    color: #0064EF;
  }
/* リンクが存在しない */
.link-none {
    margin: 7px 7px 0px 15px;
    color: #8e8e8e;
}
/* リンク終了 */


/* !!!レスポンシブ!!! */

/*デバイスの横幅が481以上768以下の場合*/
/* 主にiPad向け */
@media only screen and (min-width: 481px) and (max-width: 768px) {
     
    p {
        font-size: 8pt;
    }
    .title {
        font-size: 11pt;
    }
    .links {
        width: 90%;
    }
    .info-content-inner {
        margin: 6pt 4pt 6pt 4pt;
        line-height: 2.5em;
        width: 90%;
    }
    .info-title-innner {
        width: 50px;
      }
 
} 
 
/* デバイスの横幅が480px以下の場合 */
/* 主にスマホ向け */
@media only screen and (max-width: 480px) {

    body {
        line-height: normal;
    }
    p {
        font-size: 5pt;
    }
    .title_text {
        font-size: 8pt;
        padding: 12px 20px;
    }
    .up {
        width: 40px;
    }
    .icon_image {
        width:35px;
        height: 35px;
    }
    h1 {
        font-size: 15pt;
        margin: 90px 0px 20px 0px;
    }
    h2 {
        margin-bottom: 20px;
    }
    .links {
        width: 80%;
    }
    .info-content-inner {
        margin: 6pt 4pt 6pt 4pt;
        line-height: 2.5em;
        width: 80%;
    }
    .info-title-innner {
        width: 20%;
      }
 
} 